[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standart"], version = "*"}
fastapi = "*"
pydantic = "*"
typing = "*"
loguru = "*"
starlette = "*"

[dev-packages]

[requires]
python_version = "3.9"
